.text-display-large {
  font-size: var(--text-display-large);
  line-height: 1.123;
  font-weight: 400;
  letter-spacing: -0.25px;
}
.text-display-medium {
  font-size: var(--text-display-medium);
  line-height: 1.156;
  font-weight: 400;
  letter-spacing: 0;
}
.text-display-small {
  font-size: var(--text-display-small);
  line-height: 1.222;
  font-weight: 400;
  letter-spacing: 0;
}

.text-headline-large {
  font-size: var(--text-headline-large);
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0;
}
.text-headline-medium {
  font-size: var(--text-headline-medium);
  line-height: 1.286;
  font-weight: 400;
  letter-spacing: 0;
}
.text-headline-small {
  font-size: var(--text-headline-small);
  line-height: 1.333;
  font-weight: 400;
  letter-spacing: 0;
}

.text-title-large {
  font-size: var(--text-title-large);
  line-height: 1.273;
  font-weight: 500;
  letter-spacing: 0;
}
.text-title-medium {
  font-size: var(--text-title-medium);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.15px;
}
.text-title-small {
  font-size: var(--text-title-small);
  line-height: 1.429;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.text-body-large {
  font-size: var(--text-body-large);
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.text-body-medium {
  font-size: var(--text-body-medium);
  line-height: 1.429;
  font-weight: 400;
  letter-spacing: 0.25px;
}
.text-body-small {
  font-size: var(--text-body-small);
  line-height: 1.333;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.text-label-large {
  font-size: var(--text-label-large);
  line-height: 1.429;
  font-weight: 500;
  letter-spacing: 0.1px;
}
.text-label-medium {
  font-size: var(--text-label-medium);
  line-height: 1.333;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.text-label-small {
  font-size: var(--text-label-small);
  line-height: 1.455;
  font-weight: 500;
  letter-spacing: 0.5px;
}